body {
    font-family: 'TeXGyreHerosCondensed', sans-serif;
    font-family: 'TeXGyreHeros', sans-serif;

    padding: 28px;

    box-sizing: border-box;
    margin: 0;
}

p a {
    font-style: italic;
    color: inherit;
    text-decoration: underline;
    text-underline-offset: 6px;
    display: inline-block;
}

p a:hover {
    animation: pulsar 0.5s infinite alternate ease-in-out;
}

@keyframes pulsar {
    0% {
        color: inherit;
        opacity: 1;
        transform: scale(1);
    }
    100% {
        color: #8e8e8e;
        opacity: 0.6;
        transform: scale(0.96);
    }
}